body {
  overflow-y: scroll;
}
.userList {
  max-height: 85vh;
  &__wrapper {
    margin: 10px 0;
    width: 300px;
  }

  &__item {
    cursor: pointer;
    padding: 7px 5px;
    display: flex;
    align-items: center;

    p {
      margin: 0 0 0 10px;
      font-size: 20px;
    }
  }
}

.main {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.avatar {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 2px solid #646363;
  border-radius: 50%;

  img {
    width: 100%;
  }
}

.user {
  padding: 10px;
  flex: 1 1 auto;
  margin: 10px 0 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #faf8f8;
  box-shadow: 3px 3px 3px 3px #838181;

  h4 {
    font-weight: 400;
  }
  p {
    display: flex;
    align-items: center;
  }
}

.repos {
  &__list {
    width: 100%;
    margin-left: 30px;
  }

  width: 100%;
  margin: 10px 0;
  flex: 1 1 auto;
  border-bottom: 1px solid #646363;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-right {
      display: flex;
    }

    h2 {
      font-size: 20px;
      color: #21a2ac;
    }

    span {
      display: inline-block;
      padding: 0 10px;
      border: 1px solid #646363;
      border-radius: 15px;
    }

    p {
      margin: 0 0 0 5px;
    }
  }

  &__bottom {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;

    p + p {
      margin-left: 15px;
    }
  }
}

.spinner {
  position: absolute;
  top: 30%;
  left: 50%;

  flex: 1 1 auto;
  text-align: center;
  svg {
    animation: rotate 2s linear infinite;
    z-index: 2;
    top: 50%;
    left: 20%;
    margin: 30px 0;
    width: 50px;
    height: 50px;
  }

  & .path {
    stroke: rgb(121, 169, 218);
    stroke-linecap: round;
    animation: dash 1s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
